main,body{
    display:flex;
}
main{

}
body{
    flex-direction:column;
}
main{
    flex-direction:row;
    flex:auto;
}
article{
    flex: 2;
    overflow-y:auto;
}
aside{
    flex: 1;
    overflow-y:auto;
}
h1{
    color: aqua;
    font-size: 300%
    
}
li{
    background-color:bisque;
    text-align:center;
}
p,li{
    font-weight:bold;
}

